<div class="card">
  <div class="card-header">
    <h2>Employee Register Form</h2>
  </div>
  <div class="card-body">
    <form #frmContact="ngForm" (submit)="updateContact(frmContact.value)">
      <dl>
        <dt>Contact Name</dt>
        <dd>
          <input
            type="text"
            name="contactName"
            [(ngModel)]="contact.contactName"
            #contactName="ngModel"
            class="form-control"
          />
        </dd>
        <dt>Email</dt>
        <dd>
          <input
            type="email"
            name="contactEmail"
            [(ngModel)]="contact.contactEmail"
            #contactEmail="ngModel"
            class="form-control"
          />
        </dd>
        <dt>Contact Number</dt>
        <dd>
          <input
            type="number"
            name="contactNumber"
            [(ngModel)]="contact.contactNumber"
            #contactNumber="ngModel"
            class="form-control"
          />
        </dd>
        <button class="btn btn-primary">Update</button>
      </dl>
    </form>
  </div>
  <div class="card-footer">
    {{ message }}
  </div>
</div>
